/primerProjectePython/nbproject/private/
/tasca3python/nbproject/private/
/proves/nbproject/private/
/proves/build/
/ScrabbleExamen/nbproject/private/
/ScrabbleExamen/build/
/ExamenM3/nbproject/private/
/ExamenM3/build/
/p5ExamenGonzalez_Quim_php/nbproject/private/
/mp3_uf5/nbproject/private/
/mp3_uf5/build/
/tasca4python_Gonzalez_Quim/nbproject/private/
/connectPostgres/nbproject/private/
/connectPostgres/build/
/Comarca/nbproject/private/
/Comarca/build/
/compradorParellsSenars/nbproject/private/
/compradorParellsSenars/build/
/m3m6JavierSancho/nbproject/private/
/m3m6JavierSancho/build/
/ProvaJavi/nbproject/private/
/ProvaJavi/build/
/ProvaJavi/dist/
/UsuarisJavi/nbproject/private/
/UsuarisJavi/dist/
/UsuarisJavi/build/
/MySQL1/nbproject/private/
/MySQL1/build/
/MySQL1/dist/
/mysql2/nbproject/private/
/Llibre/nbproject/private/
/mysql3/nbproject/private/
/mysql3/build/
/maestroDetalleForm/nbproject/private/
/mysql2/build/
/ArticlesJSF/target/
/llibresDB40/nbproject/private/
/llibresDB40/build/
/ScapeRoom/nbproject/private/
/ScapeRoom/build/
/ScapeRoom/dist/
/Unitat/nbproject/private/
/Unitat/build/