/primerProjectePython/nbproject/private/
/tasca3python/nbproject/private/
/proves/nbproject/private/
/proves/build/
/ScrabbleExamen/nbproject/private/
/ScrabbleExamen/build/
/ExamenM3/nbproject/private/
/ExamenM3/build/
/p5ExamenGonzalez_Quim_php/nbproject/private/
/mp3_uf5/nbproject/private/
/mp3_uf5/build/